global
    log /dev/log    local0
    log /dev/log    local1 notice
    daemon
    maxconn 2048

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 10s
    timeout client  1m
    timeout server  1m

frontend kubernetes
    bind *:6443
    mode tcp
    option tcplog
    default_backend kubernetes-backend

backend kubernetes-backend
    mode tcp
    option tcplog
    option tcp-check
    balance roundrobin
    default-server inter 3s fall 3 rise 2

{% for host in groups['master'] %}
    server {{ host }} {{ hostvars[host].ansible_host | default(host) }}:6443 check
{% endfor %}
